.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88%;
    margin: 0 auto;
}

.cart-item p:first-child{
    width: 50%;
}

.cart-item button{
    background: black;
    color: #E83835;
}

.total-box{
    display: flex;
    justify-content: flex-end;
    width: 88%;
    margin: 0 auto;
}



.proceed-section{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: baseline;
    align-items: baseline;
    -webkit-justify-content: space-around;
    justify-content: space-between;
    width: 88%;
    margin: 0 auto;
}

.proceed-section a{
    color: white;
    border: 1px solid black;
    background: black;

}

.proceed-section button{
    background: black;
    color: white;
    border-radius: 10px;
}