.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cart-item p:first-child{
    width: 50%;
}

.cart-item button{
    background: black;
    color: #E83835;
    border-radius: 40px;
}

.total-box{
    display: flex;
    justify-content: space-around;
}

.proceed-section{
        display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 50px;
}

.proceed-section a{
    color: white;
    border: 1px solid black;
    background: black;
    border-radius: 4px;
}

.proceed-section button{
    background: black;
    color: white;
    border-radius: 10px;
}