/* 

collaboration section

*/
.collabs{
    text-align: center;
    background: #6ECDDD;
    height: 52vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collabs h2{
    margin-bottom: 0;
    color: white;
}

.collabs h2:last-child{
    margin-top: 0;
}
/* bottom text in section */
.bottom-text{
    margin-top: 4em;
    margin-bottom: 0;
}
/* 
Statement section wholefoods
*/
.statement{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statement p{
   width: 60vh;
   font-size: 1.2em;
}

/* 
Review section
*/
.review{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: url('https://i.imgur.com/z1MRtd4.jpg') no-repeat;
    background-size: 100%;
    height: 50vh;
    color: white;
}

.first-h{
    margin-top: 20vh;
    margin-bottom: 0;
}

/* intrigue message */
.intrig{
    background: #F05A38;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intrig-content{
    text-align: center;
    width: 50vh;
    color: white;
}

/* lets talk */
.talk{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn-red{
    background: #F15938;
    color: white;
    width: 38vh;
    height: 5vh;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
}
@media screen and (min-width: 1024px){
    .collabs{
        height: 35vh;
    }
}
