/* 
full page

*/
.homepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 

collaboration section

*/
.homepage-slide{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.slide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98vw;
    height: 80vh;
}

.nextArrow{
    font-size: 3em;
    color: #F47D46;
    cursor: pointer;
}

.backArrow{
    font-size: 3em;
    color: #F47D46;
    cursor: pointer;
}
/* 
all entries
*/
.entry{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entry h1{
    color: #F27451;
}

.orange-bar{
    width: 8em;
    height: .2em;
    background: #F27451;

}

.logo-link{
    height: 20vh;
    width: 20vw;
    margin-bottom: 2em;
}

.company-motto-container{
    padding-top: 1em;
    background: #E84A35;
    width: 100%;
    min-height: 11em;
    display: flex;
    justify-content: center;
    color: white;
}

.company-motto{
    width: 60vw;
}



@media screen and (min-width: 1024px){
    .entry{
        width: 50vw;
    }
}
