/* full mobile menu */
.mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* the mobile menu items */
.mobile-menu-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: transform 300ms ease-in-out;
}

/* select the home link */
.mobile-menu-items li:first-child{
    margin-top: .5em;
}

/* individual items */
.mobile-menu-items li{
    list-style: none;
    margin-bottom: 1.2em;
}

.mobile-menu-items li a{
    font-size: 1.7em;
    color: black;
}
/* menu items container */
.menu-item-container{
    background: #D3D3D3;
    width: 100%;
    min-height: 3em;
    max-height: 20.4em;
}

@keyframes in{
    from {height: 0;}
    to {height: 20.4em;}
}

@keyframes out{
    from {height: 20.4em;}
    to {height: 0;}
}

/* slide in animation for displaying the items */
.slide-in{
    animation-name: in;
    animation-duration: 2s;
}
/* slide out for hiding animation items */
.slide-out{
    animation-name: out;
    animation-duration: 2s;
}
/* container with button and bar */
.menu-btn-container{
    background: #D3D3D3;
    width: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: .4em;
}
/* button */
.menu-btn-container button{
    border: none;
    background: #D3D3D3;
    font-size: 1.5em;
}

/* the white bar */
.bar{
    width: 6em;
    background: white;
    height: 0.3em;
    margin-bottom: .3em;
}

.hide{
    display: none;
}

.desktop-menu-container{
    display: none;
}

@media screen and (min-width: 1024px){
    /* hide the mobile version so we get a new menu for desktop */
    .mobile{
        display: none;
    }

    /* desktop menu container */
    .desktop-menu-container{
        background: #F8F7F4;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: .2em;
    }

    .desktop-menu-items{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 69vw;
    }

    .desktop-menu-items li a{
        color: black
    }

    /* for the cart and phone number */
    .cart-corner{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .cart-corner p{
        font-size: .3em;
        margin: 0;
    }
}