.about{
    padding: .3em;
    text-align: left;
}

.members{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.member{
    display: flex;
    flex-direction: column;
    width: 25vw;
}

.blake{
    width: 25vw;
    height: 27vh;
    background: #E2D7C9;
}

.caleb{
    width: 25vw;
    height: 27vh;
    background: #C7B299;
}