.about{
    padding: .3em;
    text-align: left;
}

.members{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.member{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blake{
    width: 25vw;
    height: 27vh;
    background: #E2D7C9;
}

.caleb{
    width: 25vw;
    height: 27vh;
    background: #C7B299;
}

@media screen and (min-width: 768px){
    .who-we-are{
        width: 75vw;
        margin-left: 2em;
        padding-bottom: 2em;
    }
}

@media screen and (min-width: 1024px){
    .members{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .member{
        display: flex;
        flex-direction: column;
        width: 25vw;
        margin-bottom: 2em;
    }

    
}