@import url('https://res.cloudinary.com/ddgno5xuc/raw/upload/v1615070257/Multipolar-Black_vaacey.ttf');

@font-face{
    font-family: 'Multipolar-Black';
    src: url('https://res.cloudinary.com/ddgno5xuc/raw/upload/v1615070257/Multipolar_i8cprx.ttf');
}

.char{
	font-size: 110px;
}

.slide{
    width: 54vw;
    height: 50vh;
}

.buy-font{
  background:  #E83835;
padding-top: 10vh;
}

.buy-controls{
    width: 84vw;
    margin: 0 auto;
}

.min-h-1\/3{
    min-height: 50px;
}

.purchase-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98.5vw;
}

.type-selector{
    color: white;
    background: black;
}

.license-selector{
    color: #E83835;
    background: black;
}

.try-font{
    font-size: 30px;
    background-color: whitesmoke;
}

.thing{
    font-family: Multipolar;
}

.product:last-child{
    margin-bottom: 25px;
}


/* text colors */
.black{
    color: black;
}

.gray{
    color: gray;
}

.red{
    color: red;
}
