.admin-menu{
    position: fixed;
    border-right: 1px solid black;
    width: 11em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-menu-items{
    list-style: none;
    padding: 0;
    height: 100vh;
}

/* list items elements */
.admin-menu-items li{
    margin-bottom: .5em;
    border-bottom: 1px solid black;
    text-align: center;
}

.admin-menu-items li a{
    color: black;
}

