.work{
    background: #6ECDDD;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 92vh;
}

.work-img{
    width: 50%;
	height: 40%;
	background-size: cover;
  	background-position: 50% 50%;
}

.slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70vw;
    margin: 0 auto;
    height: 51vh;
    text-align: center;
    justify-content: center;
    margin-top: 27vh;
}

.slider-wrapper{
    width: 20em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide{
    width: 54vw;
    height: 50vh;
}

.work-data{
    width: 70vw;
}

.edit-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

.hidden {
    display: none;
}